*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media  only screen and (min-width: 1080px) {
    .main{
        background-color: darksalmon;
    }
}
@media  only screen and (min-width: 720px) and (max-width: 1080px) {
    .main{
        background-color: sandybrown;
    }
}
@media  only screen and (max-width: 720px) {
    .main{
        background-color: skyblue;
    }
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.pain{
    width: 67%;
    height: 67%;
    background-color: #25A9EF;
    margin: auto;
    background-image: url(../IMAGES/hw.png);
    background-repeat: no-repeat;
    position: relative;

}
.rain{
    font-size: xx-large;
    font-weight: bolder;
    font-family: Arial;
    color: aliceblue;
    margin-left: 50%;
    margin-top: 3%;
    position: absolute;
}
.rain > font {
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;
    
}

.btn > input{
    width: 35%;
    height: 60px;
    margin-top: 5%;
    background-color: #204ECF;
    color: aliceblue;
    font-size: x-large;
    font-weight: bold;
    border-radius: 5px;
    border:0px solid #204ECF;
    

}
.p{
    margin-top: 10%;
    font-size: 17px;
    font-family: Arial;
}
.logo > img {
    margin-top: -12%;
    margin-left: 72%;
    flex-wrap: nowrap;
    overflow: hidden;
    display: flex;
}