* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("../images/messi.png") no-repeat 90% bottom / auto;
  z-index: -20;
  &::before {
    content: "Argentina";
    width: max-content;
    font: italic small-caps bolder 60px auto arial;
    line-height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    letter-spacing: 5px;
    background: url("../images/flag.jpg") no-repeat center / 100% 100%;
    background-clip: text;
    color: transparent;
    animation: messi 2s infinite linear;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/rain.gif");
    z-index: 20;
  }
}

@keyframes messi {
  0% {
    transform: translate(-50%, -50%);
  }
  50% {
    transform: translate(-50%, -50%) scale(130%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
