* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  display: flex;
  background-color: bisque;
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size: 46px;
  background-position: 200px 90%;
  position: relative;
}
nav > ul {
  margin: auto;
  width: 750px;
  display: flex;
  text-align: center;
}
nav > ul > li {
  list-style: none;
  padding: 20px 0px;

  // line-height: 40px;
  width: 100%;
}
nav > ul > li:hover {
  background-color: aqua;
  .mm {
    display: flex;
  }
}
nav > ul > li > a {
  text-decoration: none;
  color: black;
  display: block;
  letter-spacing: 2px;
  transition: 0.75s;
  font-variant: small-caps;
  font-weight: 900;
  font-family: Arial;
}
nav > ul > li > a:hover {
  font-size: 1.25rem;
}
.mm {
  height: 150px;
  width: 1080px;
  background-color: deepskyblue;
  position: absolute;
  background-image: url(../images/ecommerce-removebg-preview.png);
  background-repeat: no-repeat;
  top: 100%;
  left: 50%;
  transform: translate(-50%);
  display: none;
  justify-content: end;
}
.mm > ul > li {
  list-style: none;
  padding-right: 20px;
}

.mm > ul > li > a {
  text-decoration: none;
  color: whitesmoke;
}
.mm > ul > :first-child {
  padding-top: 10px;
  text-decoration: underline;
}
.mm > ul > :not(:first-child) {
  padding-left: 10px;
  background-image: url("../images/tik.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto 10px;
}
.mm > ul > :not(:first-child):hover {
  text-decoration: underline;
}
