* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  width: 100%;
  background: #ccc;
  > ul {
    width: 750px;
    margin: auto;
    list-style: none;
    display: flex;

    text-align: Center;
    li {
      width: 100%;
      position: relative;

      > a {
        text-decoration: none;
        line-height: 40px;
        display: block;
        color: purple;
        transition: 1s;
      }

      > ul {
        position: absolute;
        list-style: none;
        background: #ccc;
        width: 100%;
        display: none;
        top: 100%;
        left: 0;
        > li {
          ul {
            position: absolute;
            top: 0;
            left: 100%;
            > li {
              position: relative;
              color: purple;
              line-height: 40px;
            }
          }
        }
      }
      &:hover {
        background: #55f;
        > a {
          font-size: 22px;
        }
        > ul {
          display: block;
        }
      }
    }
  }
}
