@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    >.tabs{
        width: 600px;
        margin: auto;
        display: flex;
        flex-direction: column;
        background: #000;
        >.tab-header{
            width: 100%;
            display: flex;
            background: #fff;
            >div{
                width: 100%;
                text-align: center;
                padding: 20px;
                border: 1px solid #ccc;
                cursor: pointer;
                &:not(:last-child){
                    border-right-width: 0;
                }
                &:hover{
                    background: #ddd;
                }
            }
        }
        >.tab-details{
            width: 100%;
            height: max-content;
            position: relative;
            height: 170px;
            border: 1px solid #ccc;
            border-top-width: 0;
            >div{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 20px;
                color: #fff;
                background: #000;
            }
        }
    }
}

.d-none {
    display: none;
}

.active {
    border-bottom-width: 0 !important;
    font-size: 18px;
    font-weight: bolder;
    color: #fff;
    background: #000;
    &:hover{
        background: #000 !important;
    }
}