* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main{
    width: 600px;
    height: 400px;
    margin: 20px auto;
  }

  .black{
    width: 100%;
    height: 33%;
    background: black;

  }
  .red{
    width: 100%;
    height: 33%;
    background: red;

  }
  .yellow{
    width: 100%;
    height: 33%;
    background: yellow;

  }