*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: bisque;
}
.main{
    width: 70%;
    height: 75vh;
   background-color: white;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: 1fr 6fr;
    margin: auto;
    margin-top: 100px;
    flex-wrap: nowrap;
    overflow: hidden;
}
.main > :nth-child(1){
    width: 100%;
    height: 100%;
    
}
.main > :nth-child(2){
    width: 100%;
    height: 100%;
}
.main > :nth-child(1){
/*background-color: brown !important;*/
text-align: center;
flex-wrap: wrap;
overflow: hidden;
position: relative;

}
.main > :nth-child(2){
    /* background-color: blueviolet; */
}


.main > :nth-child(1) > .R > font{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 40px;
    color: black;
    margin: auto;
    font-family: Arial;
    
}
.main > :nth-child(1){
    margin-top: 15px;
}
.main > :nth-child(1) > .U > font{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bolder;
    color: #D00E36;
    margin: auto;
    font-family: Arial;
}
.main >div >.left{
    width: 38% ;
    height: 8px;
    background-color: black !important;
    top: 70px;
    border-radius: 5px;
    position: absolute;

}
.main >div >.right{
    width: 38%;
    height: 8px;
    background-color: black !important;
    float: right; 
    top: 70px;
    left: 62%;
    border-radius: 5px;
    position:absolute;

}
.main > :nth-child(2) {
      display: grid;
      grid-gap: 50px;
      grid-template-columns: 2fr 2fr 2fr ;
}


.main > :nth-child(2) > :nth-child(1){
    width: 80%;
    height: 80%;
    margin: auto;
    /* background-color: aqua; */
    border-radius: 20px;
}
.main > :nth-child(2) > :nth-child(2){
    width: 80%;
    height: 80%;
    margin: auto;
    /* background-color:aqua; */
    border-radius: 20px;

}
.main > :nth-child(2) > :nth-child(3){
    width: 80%;
    height: 80%;
    margin: auto;
    /* background-color: aqua; */
    border-radius: 20px;
}
.main > :nth-child(2) > div >.p1{
    text-align: center;
    background-color: #E8E9ED;
    border-radius: 20px 20px 0px 0px;
}
.main > :nth-child(2) > div >.web{
    text-align: center;
    
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    font-family: Arial;
    color: #D00E36;
    margin: 20px;

}
.main > :nth-child(2)> div > .lorem{
    text-align: center;
    margin: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';

}
.main > :nth-child(2)> div > .btn{
    width: 80%;
    height: 50px;
    background-color: #D00E36;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 12px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;

}
.main > :nth-child(2)> div >  .p2{
    text-align: center;
    background-color: #E8E9ED;
    border-radius: 20px 20px 0px 0px;
}
.main > :nth-child(2) > div >.designer{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    color: #D00E36;
    margin: 20px;
    text-align: center;
    font-family: Arial;

}
.main > :nth-child(2) > div > .lorem1{
    text-align: center;
    margin: 56px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium';
}
.main > :nth-child(2) > div > .btn1{
    width: 80%;
    height: 50px;
    background-color: #D00E36;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 12px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;

}


.main > :nth-child(2) > div > .p3{
    text-align: center;
    background-color: #E8E9ED;
    border-radius: 20px 20px 0px 0px;
 
}
.main > :nth-child(2) > div > .Graphic{
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;
    color: #D00E36;
    margin: 25px;
    text-align: center;
    
}
.main > :nth-child(2) > div > .lorem2{
    text-align: center;
    font-weight: bold;
    margin: 50px;
    font-family: 'Franklin Gothic Medium';
}
.main > :nth-child(2) > div > .btn2{
    width: 80%;
    height: 50px;
    background-color: #D00E36;
    color: #fff;
    text-align: center;
    margin: auto;
    padding: 12px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: x-large;
    font-weight: bold;
    font-family: Arial;
}


.shefa{
    border:  2px  solid #B2B5BB;
    box-shadow: 2px 2px 10px #B2B5BB ;
}
.s1{
    border: 2px solid #B2B5BB;
    box-shadow: 2px 2px 10px #B2B5BB ;
}

.s2{
    border: 2px solid #B2B5BB;
    box-shadow: 2px 2px 10px #B2B5BB ;
}




