@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  > .up {
    width: 100%;
    height: 40vh;
    background-color: #17262b;
    position: relative;
    border-bottom: 3px solid #96a9af;
    > header {
      width: 250px;
      height: 100px;
      background-color: white;
      position: absolute;
      transform: rotate(-45deg);
      margin-top: 30px;
      margin-left: -50px;
      padding-left: 50px;
      padding-top: 1rem;
      font-family: "Open Sans", sans-serif;
      > h1 {
        color: #a81e35;
        font-weight: 600;
      }
    }
  }
  > .dn {
    width: 100%;
    height: auto;
    position: absolute;

    > .f {
      width: 400px;
      height: 500px;
      position: absolute;
      //   background-color: aqua;
      top: -200px;
      left: 200px;
      > .q {
        width: 100%;
        height: 200px;
        position: absolute;
        background-color: #de2b91;
        > img {
          position: absolute;
          top: 50px;
          left: 85px;
        }
        > button {
          width: 150px;
          line-height: 50px;
          position: absolute;
          background-color: #de2b91;
          border-radius: 50px;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      > .w {
        width: 100%;
        height: 300px;
        margin-top: 200px;
        background-color: #fff;
      }
    }
    > .s {
      width: 400px;
      height: 500px;
      position: absolute;
      //   background-color: yellow;
      top: -200px;
      left: 50%;
      transform: translate(-50%);
      > .e {
        width: 100%;
        height: 200px;
        position: absolute;
        background-color: #fa4a78;
        > img {
          position: absolute;
          height: 300px;
          top: 50px;
        }
        > button {
          width: 150px;
          line-height: 50px;
          position: absolute;
          background-color: #fa4a78;
          border-radius: 50px;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      > .r {
        width: 100%;
        height: 300px;
        margin-top: 200px;
        background-color: #fff;
      }
    }
    > .t {
      width: 400px;
      height: 500px;
      position: absolute;
      //   background-color: green;
      top: -200px;
      right: 200px;
      > .a {
        width: 100%;
        height: 200px;
        position: absolute;
        background-color: #325b77;
        > img {
          position: absolute;
          height: 300px;
          top: 50px;
          left: -55px;
        }
        > button {
          width: 150px;
          line-height: 50px;
          position: absolute;
          background-color: #325b77;
          border-radius: 50px;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      > .d {
        width: 100%;
        height: 300px;
        margin-top: 200px;
        background-color: #fff;
      }
    }
  }
}
