*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    >.digital {
        width: 600px;
        height: 300px;
        margin: auto;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 0 10px #000, 0 0 10px #000 inset;
        overflow: hidden;
        position: relative;
        >.clock{
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 1px solid #ccc;
            border-radius: 6px;
            box-shadow: 0 0 10px #000, 0 0 10px #000 inset;
            z-index: 1000;
            background: #fff;
            padding: 20px 10px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            >.today{
                width: 100%;
                text-align: center;
                font-size: 36px;
                font-weight: bolder;
                letter-spacing: 3px;
            }
            >.time{
                width: 100%;
                text-align: center;
                font-size: 22px;
                margin: 16px 0;
            }
            >.week{
                width: 100%;
                text-align: center;
                font-size: 18px;
                display: flex;
                justify-content: center;
                >div{
                    padding: 6px 12px;
                    margin: 0 6px;
                    border-radius: 6px;
                    border: 1px solid #00f;
                    box-shadow: 0 0 6px #00f;
                }
            }
        }
        >.dag {
            width: 20px;
            height: 900px;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1000;
            background: red;
            animation: dag 3s infinite linear;
        }
        @keyframes dag {
            0%{transform: translate(-50%, -50%) rotate(0deg);}
            100%{transform: translate(-50%, -50%) rotate(360deg);}
        }
    }
}