*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #ffffff;
}
.main{
  margin: 150px auto;
  width: 400px;
  height: 300px;
  border-radius: 8px;
  overflow: hidden;
}
.shape{
  display: block;
  width: 100%;
  height: 33.3%;
}
.top{
  background-color: #000000;
}
.middle{
  background-color: #FF0000;
}
.bottom{
  background-color: #FFCC00;
}