* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.h1 {
  &:hover {
    text-decoration: underline;
    text-decoration-color: aqua;
  }
}
.p1 {
  &:hover {
    text-decoration: underline;
    text-decoration-color: aqua;
  }
}
